:root {
    --primary-font: 'Exo 2', sans-serif;
    --secondary-font: 'Rubik Mono One', sans-serif;
    --heading-font: 'Source Code Pro', monospace;
    --background-color: #151515;
    --navbar-bg: #151515;
    --skill-bg: #111111;
    --card-bg: #111111;
    --card-gradient: linear-gradient(to top, rgba(21, 21, 21, 0.7) 30%, transparent 70%);
    --green-primary: #00ae26;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: #fff;
}

.text-green {
    color: var(--green-primary) !important;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: var(--secondary-font);
    color: #a8a8a8;
}

.nav-link.active,
.about-me-btn.active {
    color: #fff;
    border-radius: 5px;
}

.navbar-brand img {
    max-width: 30px;
    margin-right: 5px;
}

.navbar-nav {
    margin-right: 5%;
}

footer {
    background-color: var(--footer-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/* == HOME PAGE ======================================================================================= */
#home {
    background-image: url('../images/portfolio_bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color);
}

#home p {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    margin-top: .5rem;
    color: #fff;
    max-width: 54%;
}

.home-content {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    position: absolute;
    bottom: 0;
    right: 30%;
    transform: translateX(50%);
    max-width: 35%;
    height: auto;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--heading-font);
    color: #fff;
}

.small-text {
    font-size: 1.5rem;
    margin-bottom: -0.25rem;
}

.name-text {
    font-size: 5.5rem;
    font-family: var(--primary-font);
    color: var(--green-primary);
    font-weight: 700;
}

.socials {
    display: flex;
    list-style: none;
    padding: 0;
}

.socials li {
    margin-right: 15px;
}

.socials li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socials li a:hover {
    color: var(--green-primary);
}

.about-me-btn {
    margin-top: 1.5rem;
    background-color: var(--green-primary);
    border: none;
    font-family: var(--secondary-font);
    transition: background-color 0.3s ease;
}

.about-me-btn:hover {
    background-color: #004a12e0;
}

/* == ABOUT PAGE ======================================================================================= */
#about {
    background-image: url('../images/portfolio-bg-about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color);
}

.skills-grid ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
}

.skills-grid .list-group-item {
    background-color: var(--skill-bg);
    border-radius: 15px;
    border: none;
    text-align: center;
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.skills-grid i {
    margin-right: 8px; /* Space between icon and text for better readability */
}


/* == MEDIA QUERIES ======================================================================================= */
@media (max-width: 992px) {
    .profile-image {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .skills-grid ul {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}